.bulletin {
    background-color: blueviolet;
    width:556px;
    overflow: hidden;
}
.uploadButton{
    background-color: cornflowerblue;
    width:97%;
    border-radius:5px;
    margin-left:10px;
    height:30px;
    margin-bottom:17px;
    display:none;

}


.bulletin-content{
    width:95.6%;
    border-radius:5px;
    height:100px;
    margin-top:40px;
    margin-left:10px;
}