<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>

	<header class="top"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="50" viewBox="0 0 32 32" fill="rgb(44, 62, 80)" data-svg-content="true"><g><path d="M 26,0L 6,0 C 2.686,0,0,2.686,0,6l0,20 c0,3.314, 2.686,6, 6,6l 20,0 c 3.314,0, 6-2.686, 6-6L 32,6 C 32,2.686, 29.314,0, 26,0z M 20.136,15.998L 17.514,16l-0.002,9.6L 13.914,25.6 L 13.914,16 l-2.4,0 L 11.514,12.692 l 2.4-0.002L 13.91,10.742C 13.91,8.042, 14.642,6.4, 17.82,6.4l 2.648,0 l0,3.31 L 18.812,9.71 c-1.238,0-1.298,0.462-1.298,1.324L 17.51,12.69l 2.976,0 L 20.136,15.998z"></path></g></svg></header>
	<div class="wrap">
		<form action="/login" method="post">
		<article class="login">
		
			<div class="loginTitle"><span>LOGIN</span></div>
			<div class="idInput">
				<span class="loginTxt">아이디</span><br>
				<input class="id loginInput" type="text" name="id">
			</div>
			<div class="pwInput">
				<span class="loginTxt">비밀번호</span><br>
				<input class="pw loginInput" type="password" name="password">
			</div>
			<hr>
			<button class="loginBtn" type="submmit">로그인</button>
		</form>
		<form action="/join" method="post">
			<button class="joinBtn">회원가입</button>
		</form>
	
		</article>
		<footer class="foot">© 2017 ChanHoKyeong.</footer>
		<div class="errMsg"><%= msg %></div>	
	</div>

</body>
</html>