
body,div,header,ul,li,section,nav,footer,h1,h2,h3,h4,h4,h6,p,span,input,button {margin:0;padding:0;}
li { list-style: none; }
a { text-decoration: none;}

* {
  1outline: 1px solid red;
}

.modal {
    /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 68px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    display:none;
}

.modal-bulletin-wrap {
    1width: 50%;
    margin-top: 1rem;
    width:600px;
    margin-left:auto;
    margin-right:auto;

}

.modal-bulletin {
    background-color: lightgray;
    border: 1px solid gray;
    padding: 1.5rem 1rem;
    border-radius: 3px;
    z-index : 1;

}

.modal-bulletin-content {
    border-radius: 5px;

    height: 100px;

    width: 100%;
    box-sizing: border-box;
    font-size : 1.3rem;
}

.modal-uploadButton {
    border-radius: 5px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    background-color: #3498db;
    text-align: center;
    color: white;
    line-height: 30px;
    cursor: pointer;
    display:none;
}

.main-wrap {
  padding: auto;
}

.bulletin-wrap {
  1width: 50%;
  margin-top: 1rem;

}


.bulletin {
  background-color: lightgray;
  border: 1px solid gray;
  padding: 1.5rem 1rem;
  border-radius: 3px;
  z-index : 1;

}


.bulletin-content {
  border-radius: 5px;

  height: 100px;

  width: 100%;
  box-sizing: border-box;
  font-size : 1.3rem;
}


.uploadButton {
  border-radius: 5px;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: #3498db;
  text-align: center;
  color: white;
  line-height: 30px;
  cursor: pointer;
  display:none;
}

.post-wrap {
  margin-top: 4rem;
}
.posts {
  border: 1px solid gray;
  border-radius: 3px;
  margin-bottom: 2rem;
  background-color: lightgray;
  1width: 50%;
}

.posts:last-child {
  margin-bottom: 0;
}

.post-container {
  padding: 0 1rem;
}

.post-container .header {
  position: relative;
}

.post-container > div {
  margin-top: .5rem;
}

.post-container > div:last-child {
  margin-bottom: .5rem;
}

.post-container .header span {
  display: inline-block;
  vertical-align: middle;
}

.post-container .header span img {
  width: 32px;
  height: 32px;
}

.header-menu {
  position: absolute;
  top: 0px;
  right: 0px;
}

.post-content {
  background-color: white;
  border-radius: 3px;
}

.post-content > p {
  padding: 1rem;
}

.footer div {
  display: inline-block;
}

.top svg{
	margin-left: 20px;
	margin-top: 4px;
}
.top {
	height:60px;
	background-color: #3498db;
}
.login, .join {
	margin-top: 50px;
}
.loginInput, .joinInput {
	width:570px;
	height: 45px;
	font-size: 30px;
}
.wrap{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	min-width:600px;
	margin:0 auto;
	width:600px;
}
.loginTitle, .joinTitle{
	color:#2c3e50;
	background-color: #3498db;
	margin : 30px auto;
}
.loginTitle > span, .joinTitle > span{
	font-size: 3rem;
	font-weight: bold
}
.login span, .login input {
	margin : 10px;
}
.join span,input {
	margin : 10px;
}
.loginTxt, .joinTxt{
	font-size: 1.2rem;
	heigh: 30px;
}
.login button, .join button{
	font-size: 1rem;
	color:white;
	font-weight: bold;
	background-color: #3498db;
	border-color: #3498db;
	border-radius: 10px;
	float:right;
	width: 80px;
	height: 50px;
}

.add {
  border: 1px solid black;
  position: fixed;
  top: 100px;
  left: 50px;

  width: 50px;
  height: 50px;
}

.logout {
  position: absolute;
  top: 25px;
  right: 25px;

  width: 50px;
  height: 25px;
  background-color: white;
  text-align: center;
  line-height: 25px;
}

.logincheck {
  position: absolute;
  top: 50px;
  left: 100px;
}

.errMsg {
	color:red;
}
