.top svg{
	margin-left: 20px;
	margin-top: 4px;
}
.top {
	height:60px;
	background-color: #3498db;
}
.login, .join {
	margin-top: 50px;
}
.loginInput, .joinInput {
	width:570px;
	height: 45px;
	font-size: 30px;
}
.wrap{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	min-width:600px;
	margin:0 auto;
	width:600px;
}
.loginTitle, .joinTitle{
	color:#2c3e50;
	background-color: #3498db;
	margin : 30px auto;
}
.loginTitle > span, .joinTitle > span{
	font-size: 3rem;
	font-weight: bold
}
.login span,input{
	margin : 10px;
}
.join span,input {
	margin : 10px;
}
.loginTxt, .joinTxt{
	font-size: 1.2rem;
	heigh: 30px;
}
.login button, .join button{
	font-size: 1rem;
	color:white;
	font-weight: bold;
	background-color: #3498db;
	border-color: #3498db;
	border-radius: 10px;
	float:right;
	width: 80px;
	height: 50px;
}